@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800;900&family=Roboto:wght@400;500;700&display=swap');


/* ----------------------------------------- GENERAL STYLES */

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}    


/* ----------------------------------------- THEMES COLOR */


.background-dark {
    background-color: black;
    color: #fff;
}

.container-dark {
    background-color: #595959;
    border-color: #595959!important;
    color: #fff;
}

.background-light {
    background-color: rgb(150, 167, 177);
    color: rgb(0, 0, 0);
}

.container-light {
    background-color: rgb(190, 190, 190);
    border-color: rgb(190, 190, 190)!important;
    color: rgb(0, 0, 0);
}


/* ----------------------------------------- SECTION HEADER CONTAINER */

.header-container {
    height: 100%;
    width: 100%;
    font-size: small;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;   
}

#logo {
    font-family: "Orbitron", sans-serif;
    letter-spacing: 3px;
    padding: 30px 0;
    margin: 0 10px;
    border: 20px;
    font-size: 2.5em;
    font-weight: 800;
}

.toggle-mode {
    position: relative;
    font-size: small;
    padding-top: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-align: right;
}

/* ----------------------------------------- SECTION MAIN CONTAINER */

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


.card {
    /* position: relative; */
    text-align: center;
    margin-bottom: 50px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 500px;
    width: 97%;
    height: 600px;
    font-family: "Roboto", sans-serif;
    border-width: 5px;
    border-style: solid;
    border-color: #595959;
}

.card-title {
    padding: 10px;
    text-align: left;
}

#worldMap {
    height: 400px;
}

#issLive-video {
    width: 100%;
    height: 400px;
}

#picDay {
    width: 100%;
    height: 400px;
}

#apocpic {
    margin: 0;
    width:100%;
    height: 400px;
}

.cardFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about {
    width: 100%;
    text-align: justify;
    padding: 10px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.about div {
    position: relative;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    
}

.button-dark:link, .button-dark:visited {
    background-color: rgb(66, 176, 245);
    color:black;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
}

.button-dark:hover, .button-dark:active {
    background-color: rgb(124, 190, 145);
    color:black;
    font-weight: bold;
    padding: 1px 5px;
}

.button-light:link, .button-light:visited {
    background-color: #196ce9;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
}

.button-light:hover, .button-light:active {
    background-color: #60864f;
    color: white;
    font-weight: bold;
    padding: 1px 5px;
}

.githubLink-dark {
    color: #fff
}

.githubLink-dark:hover {
    color: rgb(124, 190, 145);
}

.githubLink-light {
    color: black
}

.githubLink-light:hover {
    color: #60864f;
}


/* ----------------------------------------- SECTION FOOTER */

.footer p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/* ----------------------------- MEDIA QUERIES FOR RESPONSIVE PAGE ON DESKTOP */

   @media screen and (min-width: 768px) {
        .about div {
            padding: 15px;
            margin-top: 30px; 
        }
        
        .button-dark:link, .button-dark:visited {
            padding: 8px 12px;
        }
        
        .button-dark:hover, .button-dark:active {
            padding: 8px 12px;
        }
        
        .button-light:link, .button-light:visited {
            padding: 8px 12px;
        }
        
        .button-light:hover, .button-light:active {
            padding: 8px 12px;
        }

        .toggle-mode {
            font-size: medium;
            margin-right: 5%;
        }

        #logo {
            font-size: 3.5em;
            margin: 0 10px 30px 10px;
        }
   }




    @media screen and (min-width: 1420px) {
        .card {
            min-width: 600px;
        }

        #logo {
            font-size: 4em;
        }

    }

    @media screen and (min-width: 1790px) {
        .card {
            min-width: 800px;
        }

        #logo {
            font-size: 5em;
        }

        .about div {
            padding: 30px;
            margin-top: 60px; 
        }
        
        .button-dark:link, .button-dark:visited {
            padding: 15px 25px;
        }
        
        .button-dark:hover, .button-dark:active {
            padding: 15px 25px;
        }
        
        .button-light:link, .button-light:visited {
            padding: 15px 25px;
        }
        
        .button-light:hover, .button-light:active {
            padding: 15px 25px;
        }


    }

    @media screen and (min-width: 2390px) {
        .card {
            min-width: 1000px;
        }

        #logo {
            font-size: 6em;
        }
    }
