/* ----------------------------------------- GENERAL STYLES */
body {
    width: 100%;
    height: 100vh;
}    






/* ----------------------------------------- THEMES COLOR */

.dark-mode {
    background-color: black;
    color: #fff;
}

.headerfoot-dark {
    background-color: black;
}

.container-dark {
    background-color: #595959;
}


/* ----------------------------------------- SECTION HEADER CONTAINER */

.header-container {
    position: relative;
    height: 100px;
    width: 100%;
    margin: auto;
    color: #fff;
    text-align: center;
    display: flex;
    font-size: small;
    justify-content: space-evenly;
    flex-direction: column;
}

/* -------------------------------------------TOGGLE STYLES */

  




/* ----------------------------------------- SECTION MAP CONTAINER */

.map-container {
    position: relative;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    height: 90vmax;
    width: 90%;
}




/* ----------------------------------------- SECTION FOOTER CONTAINER */

.footer-container {
    position: relative;
    height: 40px;
    width: 100%;
    margin: auto;
}